
<div class="container-fluid" style="background-color: #05072e; color: #cccccc; padding: 20px 40px 40px;">
    <div class="row">
        <div class="col-sm-4 margB30">
            <span style="color: white">{{ 'footer.question'|trans }}</span>
            <hr class="hr_footer" align="left">
            {{ 'footer.telephone'|trans }}
            <br>
            {{ 'footer.mail'|trans }}
        </div>
        <div class="col-sm-4 text-center margT35">
            <a href="{{ 'footer.facebook'|trans }}"><img src="{{ asset('bundles/app/images/icons/fb.png') }}" class="icon_social BWicon"></a>
            <a href="{{ 'footer.twitter'|trans }}"><img src="{{ asset('bundles/app/images/icons/tw.png') }}" class="icon_social BWicon"></a>
            <a href="{{ 'footer.linkedin'|trans }}"><img src="{{ asset('bundles/app/images/icons/in.png') }}" class="icon_social BWicon"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ 'footer.copyright'|trans }} | <a href="{{ path('mentions_legales') }}" class="underl">{{ 'footer.mentions_legales'|trans }}</a> | <a href="{{ path('cgv') }}" class="underl">{{ 'footer.cgv'|trans }}</a>
        </div>
    </div>
</div>