{% extends "AppBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style-home.css') }}">
{% endblock %}
{% block body %}
    <header id="intro-half-left-3" class="intro-block bg-color3 fixed-bg" style="background-image: url({{ asset('bundles/app/images/bg-2.jpg') }}); background-color: rgb(248, 249, 251); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;" data-selector="header">
        <div id="text_home" class="container" style="position: absolute">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 data-selector="h1" class="title_home">{{ 'home.titre'|trans }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="p_home">
                        {{ 'home.orientation.p1'|trans }}
                        <br>
                        {{ 'home.orientation.p2'|trans }}
                    </p>
                    <a href="{{ path('presentation') }}"><div class="btn_home">{{ "home.orientation.bouton"|trans }}</div></a>
                </div>
                <div class="col-md-6 text-center">
                    <p class="p_home">
                        {{ 'home.etudiant.p1'|trans }}
                        <br>
                        {{ 'home.etudiant.p2'|trans }}
                    <a href="{{ path("espace_etudiant") }}"><div class="btn_home">{{ "home.etudiant.bouton"|trans }}</div></a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/scripts-home.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/jQueryFitText.js') }}"></script>
    <script>
        $("#title_home").fitText();
    </script>
{% endblock %}