{% extends "AppBundle::layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style-home.css') }}">
{% endblock %}
{% block body %}
    <header id="intro-half-left-3" class="intro-block bg-color3 fixed-bg" style="background-image: url({{ asset('bundles/app/images/bg-2.jpg') }}); background-color: rgb(248, 249, 251); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;" data-selector="header">
        <div id="text_home" class="container" style="position: absolute">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 data-selector="h1" class="title_home">Rencontre des étudiants pour décider ton orientation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="p_home">
                        Tu es lycéen et tu ne sais pas où t'inscrire après le bac.<br>ou tu es étudiant et tu veux changer de voie.
                    </p>
                    <a href="#contact-full"><div class="btn_home">Espace Orientation</div></a>
                </div>
                <div class="col-md-6 text-center">
                    <p class="p_home">
                        Tu es étudiant ou diplomé et tu souhaites faire partager<br>ton expérience de l'enseignement supérieur.
                    </p>
                    <a href="{{ path('espace_etudiant') }}"><div class="btn_home">Espace Etudiant</div></a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/scripts/scripts-home.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/jQueryFitText.js') }}"></script>
    <script>
        $("#title_home").fitText();
    </script>
{% endblock %}
