{% extends "AppBundle::layout.html.twig" %}

{% block title %}Excelience - Espace Etudiant{% endblock %}

{% block body %}
    <div>
        <section id="section0" class="section cover-bg text-center" style="padding: 0">
            <div class="editContent margT85">
                <h2 class="title blueText" style="font-size: 39px; line-height: 53px; margin-bottom: 0px; margin-top: 0px; font-family: Satisfy;">{{ 'programmes.titre'|trans }}</h2>
            </div>
            <div class="container-fluid backWhite pad10bt">
                <div class="col-md-10 col-md-offset-1 row-height">
                    <div class="col-sm-4 col-height">
                        <div class="pricing-table pt-light pt-light-active inside inside-full-height">
                            <h4 class="dark-bg">{{ 'programmes.pack_1.titre'|trans }}<span>{{ 'programmes.pack_1.duree'|trans }} - {{ 'programmes.pack_1.prix'|trans }}</span></h4>
                            <ul class="benefits-list">
                                <li>{{ 'programmes.pack_1.p1'|trans }}</li>
                                <li>{{ 'programmes.pack_1.p2'|trans }}</li>
                                <li>{{ 'programmes.pack_1.p3'|trans }}</li>
                                <li>{{ 'programmes.pack_1.p4'|trans }}</li>
                            </ul>
                            <div class="contain-btn sm-relative">
                                <button href="#" id="btn-light" class="btn btn-light">{{ 'programmes.pack_1.details.plus'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-height">
                        <div class="pricing-table pt-full pt-full-active inside inside-full-height">
                            <h4 class="dark-bg">{{ 'programmes.pack_2.titre'|trans }}<span>{{ 'programmes.pack_2.duree'|trans }} - {{ 'programmes.pack_2.prix'|trans }}</span></h4>
                            <ul class="benefits-list">
                                <li>{{ 'programmes.pack_2.p1'|trans }}</li>
                                <li>{{ 'programmes.pack_2.p2'|trans }}</li>
                                <li>{{ 'programmes.pack_2.p3'|trans }}</li>
                                <li>{{ 'programmes.pack_2.p4'|trans }}</li>
                                <li>{{ 'programmes.pack_2.p5'|trans }}</li>
                                <li>{{ 'programmes.pack_2.p6'|trans }}</li>
                            </ul>
                            <div class="contain-btn" style="position: relative;">
                                <button href="#" id="btn-full" class="btn btn-full">{{ 'programmes.pack_2.details.plus'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-height">
                    <div class="pricing-table pt-sur-mesure pt-sur-mesure-active inside inside-full-height">
                        <h4 class="dark-bg">{{ 'programmes.pack_3.titre'|trans }}<span><i>{{ 'programmes.pack_3.prix'|trans }}</i></span></h4>
                        <ul class="benefits-list">
                            <li style="font-weight: bold;">{{ 'programmes.pack_3.p1'|trans }}</li>
                            <li>{{ 'programmes.pack_3.p2'|trans }}</li>
                            <li>{{ 'programmes.pack_3.p3'|trans }}</li>
                            <li>{{ 'programmes.pack_3.p4'|trans }}</li>
                            <li>{{ 'programmes.pack_3.p5'|trans }}</li>
                        </ul>
                        <div class="contain-btn sm-relative">
                            <button href="#" id="btn-sur-mesure" class="btn btn-sur-mesure">{{ 'programmes.pack_3.details.plus'|trans }}</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section id="detail-light" class="section cover-bg text-center pad10bt" style="display:none; padding: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center">
                            <img class="down_arrow" src="{{ asset('bundles/app/images/down_arrow.png') }}">
                        </div>
                        <div class="editContent">
                            <h2 class="title" style="color: #73a4ea; font-size: 44px; margin-bottom: 0px; margin-top: 0px; font-family: Satisfy;">{{ 'programmes.pack_1.details.titre'|trans }}</h2>
                            <h2 class="title" style="color: rgb(162, 162, 162); font-size: 20px; margin-bottom: 0px; margin-top: 0px;">{{ 'programmes.pack_1.details.sousTitre'|trans }}</h2>
                        </div>
                        <div class="margT30">
                            <ol id="feature-list">
                                <li>
                                    <div class="feature-left" style="color: #73a4ea;">{{ 'programmes.pack_1.details.i1'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_1.details.t1'|trans }}</h4>
                                            <p>{{ 'programmes.pack_1.details.p1'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #73a4ea;">{{ 'programmes.pack_1.details.i2'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_1.details.t2'|trans }}</h4>
                                            <p>{{ 'programmes.pack_1.details.p2'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #73a4ea;">{{ 'programmes.pack_1.details.i3'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_1.details.t3'|trans }}</h4>
                                            <p>{{ 'programmes.pack_1.details.p3'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #73a4ea;">{{ 'programmes.pack_1.details.i4'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_1.details.t4'|trans }}</h4>
                                            <p>{{ 'programmes.pack_1.details.p4'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <hr class="prog">
                        <div class="text-center">
                            <a href="{{ path('inscription') }}" class="btn_page margT15 margB15">{{ 'programmes.pack_1.bouton'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="detail-full" class="section cover-bg text-center pad10bt" style="display:none; padding: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center">
                            <img class="down_arrow" src="{{ asset('bundles/app/images/down_arrow.png') }}">
                        </div>
                        <div class="editContent">
                            <h2 class="title" style="color: #b176d1; font-size: 44px; margin-bottom: 0px; margin-top: 0px; font-family: Satisfy;">{{ 'programmes.pack_2.details.titre'|trans }}</h2>
                            <h2 class="title" style="color: rgb(162, 162, 162); font-size: 20px; margin-bottom: 0px; margin-top: 0px;">{{ 'programmes.pack_2.details.sousTitre'|trans }}</h2>
                        </div>
                        <div class="margT30">
                            <ol id="feature-list">
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i1'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t1'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p1'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i2'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t2'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p2'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i3'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t3'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p3'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i4'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t4'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p4'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i5'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t5'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p5'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_2.details.i6'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_2.details.t6'|trans }}</h4>
                                            <p>{{ 'programmes.pack_2.details.p6'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="prog">
            <div class="text-center">
                <a href="{{ path('inscription') }}" class="btn_page margT15 margB15">{{ 'programmes.pack_2.bouton'|trans }}</a>
            </div>
        </section>
        <section id="detail-sur-mesure" class="section cover-bg text-center pad10bt" style="display:none; padding: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="text-center">
                            <img class="down_arrow" src="{{ asset('bundles/app/images/down_arrow.png') }}">
                        </div>
                        <div class="editContent">
                            <h2 class="title" style="color: #fabe9a; font-size: 44px; margin-bottom: 0px; margin-top: 0px; font-family: Satisfy;">{{ 'programmes.pack_3.details.titre'|trans }}</h2>
                            <h2 class="title" style="color: rgb(162, 162, 162); font-size: 20px; margin-bottom: 0px; margin-top: 0px;">{{ 'programmes.pack_3.details.sousTitre'|trans }}</h2>
                        </div>
                        <div class="margT30">
                            <ol id="feature-list">
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_3.details.i1'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_3.details.t1'|trans }}</h4>
                                            <p>{{ 'programmes.pack_3.details.p1'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_3.details.i2'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_3.details.t2'|trans }}</h4>
                                            <p>{{ 'programmes.pack_3.details.p2'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_3.details.i3'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_3.details.t3'|trans }}</h4>
                                            <p>{{ 'programmes.pack_3.details.p3'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_3.details.i4'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_3.details.t4'|trans }}</h4>
                                            <p>{{ 'programmes.pack_3.details.p4'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-left" style="color: #b176d1;">{{ 'programmes.pack_3.details.i5'|trans }}</div>
                                    <div class="feature-info-flex">
                                        <div class="feature-info">
                                            <h4 style="margin: 0">{{ 'programmes.pack_3.details.t5'|trans }}</h4>
                                            <p>{{ 'programmes.pack_3.details.p5'|trans }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="prog">
            <div class="text-center">
                <a href="{{ path('inscription') }}" class="btn_page margT15 margB15">{{ 'programmes.pack_3.bouton'|trans }}</a>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $('#btn-light').click(function() {
            $('#detail-light').show();
            $('#detail-full').hide();
            $('#detail-sur-mesure').hide();

            $('.pt-light').addClass('pt-light-active');
            $('.pt-full').removeClass('pt-full-active');
            $('.pt-sur-mesure').removeClass('pt-sur-mesure-active');

            $('html, body').animate( { scrollTop: $('#detail-light').offset().top + $('#detail-light').height() - $(window).height() }, 400);

        });
        $('#btn-full').click(function() {
            $('#detail-light').hide();
            $('#detail-full').show();
            $('#detail-sur-mesure').hide();
            $('.pt-light').removeClass('pt-light-active');
            $('.pt-full').addClass('pt-full-active');
            $('.pt-sur-mesure').removeClass('pt-sur-mesure-active');

            $('html, body').animate( { scrollTop: $('#detail-full').offset().top + $('#detail-full').height() - $(window).height() }, 400);
        });
        $('#btn-sur-mesure').click(function() {
            $('#detail-light').hide();
            $('#detail-full').hide();
            $('#detail-sur-mesure').show();
            $('.pt-light').removeClass('pt-light-active');
            $('.pt-full').removeClass('pt-full-active');
            $('.pt-sur-mesure').addClass('pt-sur-mesure-active');

            $('html, body').animate( { scrollTop: $('#detail-sur-mesure').offset().top + $('#detail-sur-mesure').height() - $(window).height() }, 400);
        });
    </script>
{% endblock %}
