{% extends "AppBundle::layout.html.twig" %}

{% block title %}Excelience - Espace Etudiant{% endblock %}

{% block body %}
    <section id="content-line-2" class="bg-color3 cover-bg text-center half-padding" style="height: 80vh;background: url('{{ asset('bundles/app/images/bg-inscription.jpg') }}') center 0 no-repeat fixed; background-size: cover;">
        <div style="height: 100%;display: flex;">
            <div style="margin: auto;">
                <h1 style="font-family: 'Satisfy', cursive; color: white;">Je m'inscris</h1>
                <p style="color: white;">Et je suis recontacté dans la journée pour être informé des dates disonibles</p>
            </div>
        </div>
    </section>
    <section id="content-line-2" class="bg-color3 cover-bg text-center ten-padding" style="height: 25%;background-color: #f3f3f3;">
        <div class="container">
            <h3 class="text-ee2 zero-bottom">Remplis les champs ci-dessous et tu seras contacté dès que possible</h3>
        </div>
    </section>
    <section class="zero-padding">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} fade in">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </section>
    <section class="twenty-padding">
        <div class="row">
            {% if not form.vars.valid %}
            <div class="alert alert-danger col-sm-4 col-sm-offset-4">
                <strong>Erreur !</strong>
                {{ form_errors(form.nom) }}
                {{ form_errors(form.prenom) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.codePostal) }}
                {{ form_errors(form.ville) }}
                {{ form_errors(form.ecole) }}
                {{ form_errors(form.niveauDetude) }}
                {{ form_errors(form.bulletinsTempFile) }}
            </div>
            {% endif %}
            <div class="col-sm-10 col-sm-offset-1">
                {{ form_start(form) }}
                <div class="form-group col-sm-6">
                    {{ form_label(form.nom, 'Nom :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.prenom, 'Prénom :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.email, 'E-mail :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.codePostal, 'Code postal :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'placeholder': 'Code Postal'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.ville, 'Ville :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.ecole, 'Etablissement :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.ecole, {'attr': {'class': 'form-control', 'placeholder': 'Ecole'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.niveauDetude, 'Nivea d\'étude :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.niveauDetude, {'attr': {'class': 'form-control', 'placeholder': 'Niveau d\'étude'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    {{ form_label(form.bulletinsTempFile, 'Bulletin de note (1ère et Term) :', {'label_attr': {'class': 'control-label col-sm-12'}}) }}
                    <div class="col-sm-12">
                        {{ form_widget(form.bulletinsTempFile) }}
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <div class="col-sm-2 col-sm-offset-5">
                        {{ form_widget(form.Envoyer, {'attr': {'class': 'form-control', 'style': 'background-color: #04adfd; color: white;'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <div id="popup_inscr" class="col-sm-4 col-sm-offset-4" style="display: {{ post }}">
        <div class="text-center margT15">
            <span class="fa-stack fa-2x" style="color: #6fd26f;">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x"></i>
            </span>
        </div>
        <div class="text-center"><h5 style="color: black;">Ta demande d'inscription a bien été prise en compte !</h5></div>
        <div class="text-center margB15">
            <p>Ta demande d’inscription a bien été prise en compte !</p>
            <p>Un mail de confirmation vient de t’être envoyé. Tu seras par la suite contacté pour finaliser ton inscription et choisir les dates qui te conviennent.</p>
            <p>Pour toutes questions, contacte-nous par mail à info@excelience.fr</p>
            <button id="close_popup" class="btn btn-primary" style="background-color: #04adfd; color: white;">Fermer</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $('#close_popup').click(function() {
            $('#popup_inscr').hide();
        });
    </script>
{% endblock %}